.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: calc(2rem * var(--mult)) 0;
}

.calendarWrapper {
    flex: 1;
}

.timeWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateY(.5rem);
    animation: fadeIn 2s ease forwards;
}

.time {
    opacity: 0;
    transform: translateY(.5rem);
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}