.btn {
    border: none;
    background-color: var(--p-color);
    /* background-color: rgb(255, 182, 182); */
    padding: .75rem 5rem;
    margin-top: 2.5rem;

    cursor: pointer;
    text-align: center;

    border: none;
    outline: none;

    color: var(--white);
}

.btn:hover {
    background-color: rgb(219, 126, 126);
}

.pf_confirm {
    background-color: tomato;
    min-width: 15rem;
    padding: .75rem 0;
}

.pf_confirm:hover {
    background-color: rgb(209, 56, 29);
}


.pf_cancel {
    min-width: 15rem;
    padding: .75rem 0;
}

.pf_fixed {
    padding: .75rem 0;
    min-width: 20rem;
}

@media only screen and (max-width: 380px) {
    .btn {
        min-width: 50vw; 
    }
}