.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(50px, 1fr) repeat(7, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem 1rem;
    overflow-y: scroll;
    background: linear-gradient(to bottom right, var(--grey-light), #dbd9d7);

    opacity: 0;
    transform: translateY(.5rem);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}