:root {
    --p-color: #684d52;
    /* --p-color: #a35d6a; */
    --p-color-dark: rgb(61, 41, 41);
    /* --p-color-dark: #7a3e46; */

    --s-color: #fff8dc;
    --s-color-dark: #ddd5b7;

    --t-color: #e1ebf7;
    --t-color-dark: #c0c0eb;

    --f-color:#f7dede;
    --f-color-dark:#db7e7e;

    --grey-light: #f1ebeb;
    --grey-dark: #363535;
    
    --white: white;
    --black: black;
    --night: #2f2b42;

    --p-font-dark: rgb(61, 41, 41);
    --p-font:  #684d52;
    --s-font: #fff8dc;

    --post-bg: linear-gradient(to bottom right, #e0d9d9, #9e9292);
    --post-card-bg: linear-gradient(315deg, #c3c6c7, #e8ebec);
    --post-date-bg: linear-gradient(315deg, #e6bf7c, #ffe394);
    --post-input-bg: #f1ebeb;

    --profile-bg: linear-gradient(to bottom right, #e4d0b7, #deb887);
    --profile-bg-2: linear-gradient(to bottom left, #E9E4F0, #D3CCE3);

    --header-light: #f1ebeb;

    --toolbar-btn-bg: #bea78977;
    --toolbar-btn-sd: #0000002d;
    --prompt-btn-bg: #ff6347;
    --prompt-btn-hover-bg: #d1381d;
    --toggler-bg: #f7dede;
    --toggler-checked-bg: #e1ebf7;;

    /* set color like this because can adjust opacity later */
    /* eg: rgba(var(--danger), 0.5) */
    --danger: 211, 69, 44; 
    --danger-border: rgb(145, 21, 12);

    --info: linear-gradient(to right, #9fc8db, #b7e7de75);
    --info-border: rgb(12, 145, 112);
    --info-hover: rgb(93, 103, 112); 

    --warn: linear-gradient(to right, #ffa751, #ffe3594f);
    --warn-border: rgb(231, 75, 75);
    --warn-hover: #ffe359;

    --mult: 1.25; /* :( */
}


[data-theme="dark"] {
    --p-color:#2e1a1a;
    --p-color-dark: #1a0f0f;

    --s-color: #b6b2a5;
    --s-color-dark: #8f8975;

    --t-color: #e1ebf7;
    --t-color-dark: #c0c0eb;

    --f-color:#7e3a3a;
    --f-color-dark:#7e2d2d;

    --grey-light: #584b44;
    --grey-dark: #363535;
    
    --white: #ddd5b7;
    --black: #ddd5b7;
    --night: #2f2b42;

    --p-font-dark:  #ebe6d3;
    --p-font:  #ebe6d3;
    --s-font: #fff8dc;

    --post-bg: linear-gradient(to bottom right, #614c4c, #2f2b42);
    /* --post-card-bg: linear-gradient(315deg, #353a3b, #4d7c8b);  */
    --post-card-bg: linear-gradient(315deg, #353a3b, #394e74); 
    --post-date-bg: linear-gradient(315deg, #a5a055, #a89052);
    --post-date-bg: linear-gradient(315deg, #a58055, #c06357);
    --post-input-bg: #2e1a1a;

    --profile-bg: linear-gradient(to bottom right, #9e8465, #5c2d17);
    --profile-bg-2: linear-gradient(to bottom left, #645874, #281c42);

    --header-light: #cec8b8;

    --toolbar-btn-bg: #e7b16985;
    /* --toolbar-btn-bg: #bce45f77; */
    --toolbar-btn-sd: #ffffff2d;
    --prompt-btn-bg: #ff6347;
    --prompt-btn-hover-bg: #d1381d;
    --toggler-bg: #7e2d2d;
    --toggler-checked-bg:#ccd5ff;

    --danger: 211, 69, 44; 
    --danger-border: rgb(145, 21, 12);

    --info: linear-gradient(to right, #5b6b72, #33346e75);
    --info-border: rgb(8, 6, 49);
    --info-hover: rgb(93, 103, 112); 

    --warn: linear-gradient(to right, #a16e3a, #8a771ba2);
    --warn-border: rgb(83, 11, 11);
    --warn-hover: #aa9426;
}



/* [data-theme="dark"] {
    --p-color: #312628;
    --p-color-dark: rgb(26, 16, 32);

    --s-color: #b6b2a5;
    --s-color-dark: #8f8975;

    --t-color: #e1ebf7;
    --t-color-dark: #c0c0eb;

    --f-color:#f7dede;
    --f-color-dark:#db7e7e;

    --grey-light: #584b44;
    --grey-dark: #363535;
    
    --white: #ddd5b7;
    --night: #2f2b42;
} */